# Ignore autosave files
*.asv
*.m~
*.autosave

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Compiled MEX binaries (all platforms)
*.mex*

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Build folder
build/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Simulink files of previous version
*.slx.original
*.slx.r*

# Temporary files
*.fuse_hidden*
*.kate-swp

# Other files to ignore
*.pdf
*.htmx
.directory
.DS_Store

